@model IEnumerable<IMSProject.Models.Patient>

@foreach (var patient in Model)
{
    <tr>
        <td>@patient.Name</td>
        <td>@patient.Address</td>
        <td>@patient.DateofBirth.ToShortDateString()</td>
        <td>@patient.ContactNumber</td>
        <td>@patient.MedicalCondition</td>
        <td>@patient.Diagnosis</td>
        <td>$@patient.TotalCost.ToString("F2")</td>
        <td>
            <div class="d-flex justify-content-around">
                <a href="@Url.Action("Details", "Patient", new { id = patient.PatientID })" class="btn btn-info btn-sm">
                    <i class="fas fa-eye"></i>
                </a>
                <a href="@Url.Action("Edit", "Patient", new { id = patient.PatientID })" class="btn btn-warning btn-sm">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="@Url.Action("Delete", "Patient", new { id = patient.PatientID })" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </td>
    </tr>
}
